<!DOCTYPE html>
<html>
  <head>
    <title>HeyJobs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <ul>
      <li>
        <%= link_to "Manage Jobs", jobs_path %>
      </li>
      <li>
        <%= link_to "Manage Campaigns", campaigns_path %>
      </li>
      <li>
        <%= link_to "Compare Campaigns with AdService", compare_campaigns_path %>
      </li>
    </ul>
  </body>
</html>
